html {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

a {
  text-decoration:none;
}

span {
  white-space: pre-wrap;
}

a:hover {
  color: gray;
}

#bold {
  font-weight: bold;
}

body {
  margin: 0 auto;
  background-color: #FEFEFE;
  padding: 0 20px 20px 20px;
}